body {
	background-color: black;
}
.panel-heading{
	background-color: black;

}

}
h3 {
	text-align: center;
	position: center;
	font-weight: bold;
	font-size: 18px;

}
h2 {
	text-align: center;
	font-size: 50pt;
}
p{
	color: blue;
	font-size: 50pt;
}




